@import url('https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');
*{
    direction: rtl;
    font-family: 'Assistant', sans-serif;
   
}
html, body { height: 100%; }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700; /* להשתמש בגרסת הפונט של 700 עבור כותרות */
  }
  
  p, ul, ol {
    font-weight: 400; /* להשתמש בגרסת הפונט של 400 עבור טקסטים רגילים */
  }